Test/Service References/SaleServiceReference/SaleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="registerSale">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
        <xs:element minOccurs="0" name="phones" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="total" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="registerSaleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="registerSaleResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>